.env

### macOS ###
.DS_Store

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#

# directory configuration
.dir-locals.el


### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
