.App {}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.StreamSelectionSidebar {
  float: left;
  width: 15%;
}

.StreamName {
  background-color: gray;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.ServerInfo {
  padding: 10px;
}

.DashPlayerContainer {
  float: right;
  width: 85%;
}

.StreamInfoContainer {
  font-size: calc(8px + 2vmin);
  color: white;
  background-color: #282c34;
  height: 100vh;
}

div.StreamInfoContainer {
  background-color: #282c34;
  padding: 10px;
}

.VideoBox {
  float: left;
  width: 40%;
}

.VideoPlayer {
  width: 95%;
}

.VideoControlButton {
  margin: 0px 10px 0px 10px;
}

.SliderBox {
  float: left;
  width: 20%;
  font-size: 20px;
}

.SliderContainer {
  float: right;
  padding-right: 30px;
}

.StreamInfoBox {
  float: right;
  width: 40%;
  font-size: 18px;
}

.ButtonBox {
  text-align: center;
}

.ErrorBox {
  float: left;
  clear: both;
}

.DashInfo {

}

.NginxInfo {

}